In [1]:
import json
from datetime import datetime
import pandas as pd

In [28]:
covers = {
    "VIN01": [
        (
            "trip-01a",
            (
                datetime(2024, 1, 1, 0, 0, 0),
                datetime(2024, 1, 1, 0, 20, 0),
                datetime(2024, 1, 1, 0, 10, 0),
                datetime(2024, 1, 1, 0, 30, 0),
            ),
            "overrap",
            ["trip-01a", "trip-01b"],
        )
    ],
    "VIN02": [
        (
            "trip-02a",
            (
                datetime(2024, 1, 1, 0, 5, 0),
                datetime(2024, 1, 1, 0, 15, 0)
            ),
            "single",
            ["trip-02a"]
        )
    ],
    "VIN03": [
        (
            "trip-03a",
            (
                datetime(2024, 1, 1, 0, 5, 0),
                datetime(2024, 1, 1, 0, 30, 0),
                datetime(2024, 1, 1, 0, 10, 0),
                datetime(2024, 1, 1, 0, 15, 0)
            ),
            "overrap",
            ["trip-03a", "trip-03b"]
        )
    ],
    "VIN04": [
        (
            "trip-03a",
            (
                datetime(2024, 1, 1, 0, 0, 0),
                datetime(2024, 1, 1, 0, 40, 0),
                datetime(2024, 1, 1, 0, 5, 0),
                datetime(2024, 1, 1, 0, 10, 0),
                datetime(2024, 1, 1, 0, 15, 0),
                datetime(2024, 1, 1, 0, 20, 0)
            ),
            "overrap",
            ["trip-04a", "trip-04b", "trip-04c"]
        )
    ]
}

In [59]:
cover_dict_list = []
for vin in covers.keys():
    cover = covers[vin]

    for trip in cover:
        tid = trip[0].replace("trip-", f"{vin}-")
        state = trip[2]
        s_e_pairs = trip[1]
        org_tid_list = trip[3]

        cover_dict = {"vin": vin, "right_tid": tid}

        for i, org_tid in enumerate(org_tid_list):
            st1 = s_e_pairs[i * 2]
            et1 = s_e_pairs[i * 2 + 1]

            cover_dict[f"trip_id{i}"] = org_tid.replace("trip-", f"{vin}-")
            cover_dict[f"start_time{i}"] = st1.strftime('%Y/%m/%d %H:%M:%S')
            cover_dict[f"end_time{i}"] = et1.strftime('%Y/%m/%d %H:%M:%S')

            # for j, target_tid in enumerate(tid_list):
            #     if tid == target_tid:
            #         continue
            #     st2 = s_e_pairs[j * 2]
            #     et2 = s_e_pairs[j * 2 + 1]
                
            #     # caseA
            #     #   t1 s1-------e1
            #     #   t2     s2------e2
            #     # caseB
            #     #   t1 s1------------e1
            #     #   y2      s2---e2
                
            #     if st1 < st2 and st2 < et1 and et1 < et2:
            #         # caseA
            #         cover_dict[f'case{i}{j}'] = 'intersection'
            #         cover_dict[f'overrap_time{i}{j}'] = et1.timestamp() - st2.timestamp()
            #     elif st1 < st2 and et2 < et1:
            #         # caseB
            #         cover_dict[f'case{i}{j}'] = 'inclusion'
            #         cover_dict[f'overrap_time{i}{j}'] = et2.timestamp() - st2.timestamp()

            


        cover_dict_list.append(cover_dict)
    


df = pd.DataFrame(cover_dict_list)
df

,vin,right_tid,trip_id0,start_time0,end_time0,trip_id1,start_time1,end_time1,trip_id2,start_time2,end_time2
0,VIN01,VIN01-01a,VIN01-01a,2024/01/01 00:00:00,2024/01/01 00:20:00,VIN01-01b,2024/01/01 00:10:00,2024/01/01 00:30:00,NaN,NaN,NaN
1,VIN02,VIN02-02a,VIN02-02a,2024/01/01 00:05:00,2024/01/01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN
2,VIN03,VIN03-03a,VIN03-03a,2024/01/01 00:05:00,2024/01/01 00:30:00,VIN03-03b,2024/01/01 00:10:00,2024/01/01 00:15:00,NaN,NaN,NaN
3,VIN04,VIN04-03a,VIN04-04a,2024/01/01 00:00:00,2024/01/01 00:40:00,VIN04-04b,2024/01/01 00:05:00,2024/01/01 00:10:00,VIN04-04c,2024/01/01 00:15:00,2024/01/01 00:20:00

In [58]:
cover_dict_list = []
for vin in covers.keys():
    cover = covers[vin]

    for trip in cover:
        tid = trip[0].replace("trip-", f"{vin}-")
        state = trip[2]
        s_e_pairs = trip[1]
        org_tid_list = trip[3]

        for i, org_tid in enumerate(org_tid_list):
            if not state == 'overrap':
                cover_dict = {"vin": vin, "right_tid": tid}

                st1 = s_e_pairs[i * 2]
                et1 = s_e_pairs[i * 2 + 1]
                cover_dict[f"trip_id{i}"] = org_tid.replace("trip-", f"{vin}-")
                cover_dict[f"start_time{i}"] = st1.strftime('%Y/%m/%d %H:%M:%S')
                cover_dict[f"end_time{i}"] = et1.strftime('%Y/%m/%d %H:%M:%S')

                cover_dict_list.append(cover_dict)

            for j, target_tid in enumerate(org_tid_list):
                if org_tid == target_tid:
                    continue
                
                cover_dict = {"vin": vin, "right_tid": tid}

                st1 = s_e_pairs[i * 2]
                et1 = s_e_pairs[i * 2 + 1]
                cover_dict[f"trip_id{i}"] = org_tid.replace("trip-", f"{vin}-")
                cover_dict[f"start_time{i}"] = st1.strftime('%Y/%m/%d %H:%M:%S')
                cover_dict[f"end_time{i}"] = et1.strftime('%Y/%m/%d %H:%M:%S')

                
                # if state == 'overrap':
                # caseA
                #   t1 s1-------e1
                #   t2     s2------e2
                # caseB
                #   t1 s1------------e1
                #   y2      s2---e2

                st2 = s_e_pairs[j * 2]
                et2 = s_e_pairs[j * 2 + 1]
                
                if st1 < st2 and st2 < et1 and et1 < et2:
                    # caseA
                    cover_dict[f"trip_id1"] = target_tid.replace("trip-", f"{vin}-")
                    cover_dict[f"start_time1"] = st2.strftime('%Y/%m/%d %H:%M:%S')
                    cover_dict[f"end_time1"] = et2.strftime('%Y/%m/%d %H:%M:%S')
                    cover_dict[f'case'] = 'intersection'
                    cover_dict[f'overrap_time'] = et1.timestamp() - st2.timestamp()

                elif st1 < st2 and et2 < et1:
                    # caseB
                    cover_dict[f"trip_id1"] = target_tid.replace("trip-", f"{vin}-")
                    cover_dict[f"start_time1"] = st2.strftime('%Y/%m/%d %H:%M:%S')
                    cover_dict[f"end_time1"] = et2.strftime('%Y/%m/%d %H:%M:%S')
                    cover_dict[f'case'] = 'inclusion'
                    cover_dict[f'overrap_time'] = et2.timestamp() - st2.timestamp()
                else:
                    continue

                cover_dict_list.append(cover_dict)
    


df = pd.DataFrame(cover_dict_list)
df

,vin,right_tid,trip_id0,start_time0,end_time0,trip_id1,start_time1,end_time1,case,overrap_time
0,VIN01,VIN01-01a,VIN01-01a,2024/01/01 00:00:00,2024/01/01 00:20:00,VIN01-01b,2024/01/01 00:10:00,2024/01/01 00:30:00,intersection,600.0
1,VIN02,VIN02-02a,VIN02-02a,2024/01/01 00:05:00,2024/01/01 00:15:00,NaN,NaN,NaN,NaN,NaN
2,VIN03,VIN03-03a,VIN03-03a,2024/01/01 00:05:00,2024/01/01 00:30:00,VIN03-03b,2024/01/01 00:10:00,2024/01/01 00:15:00,inclusion,300.0
3,VIN04,VIN04-03a,VIN04-04a,2024/01/01 00:00:00,2024/01/01 00:40:00,VIN04-04b,2024/01/01 00:05:00,2024/01/01 00:10:00,inclusion,300.0
4,VIN04,VIN04-03a,VIN04-04a,2024/01/01 00:00:00,2024/01/01 00:40:00,VIN04-04c,2024/01/01 00:15:00,2024/01/01 00:20:00,inclusion,300.0

In [14]:
df.to_csv("sample.csv")